<h1>
	Create dataset
</h1>
<p>
	See <a href="rimsDataElementList.action">the data element list</a> to see
	which dataelements will be part of the new dataset.
</p>
<form method="post" action="createDataset.action">
	<label for="dsName">
		Dataset name:
	</label>
	
	<input id="dsName" name="dsName" type="text" />
	<input type="submit" name="createDataset" value="Create dataset" />
</form>