<?xml version="1.0" encoding="UTF-8"?>

<orgunits>
#foreach( $rimsPHC in $rimsPHCs )
	<orgunit>
		<id>$rimsPHC.phc_code</id>
		<name>$encoder.xmlEncode( $rimsPHC.phc_name)</name>
	</orgunit>
#end
</orgunits>