#if ($skipped.Empty)
	<h1>Export successful</h1>
	<strong>$totalRecCount</strong> record(s) exported
#else
	<h1>Export complete</h1>
	<ul>
		<li>
			<strong>$totalRecCount</strong> record(s) exported			
		</li>
		<li>
			<strong>$skipped.size()</strong> skipped:
		</li>
	</ul>
	
	#if( !$skipped.Empty )
	<table>
			<tr>
				<th>
					ID
				</th>
				<th>
					Data element
				</th>
				<th>
					Orgunit
				</th>
				<th>
					Period
				</th>
				<th>
					Reason
				</th>
			</tr>
			#foreach( $entry in $skipped )
			<tr>
				<td>
					#if ($entry.dataElement)
						$entry.DataElement.Id
					#elseif ($entry.MappingDataElement)
						$entry.MappingDataElement.DhisExpression
					#end
				</td>
				<td>
					#if ($entry.dataElement)
						$entry.DataElement.Name
					#elseif ($entry.MappingDataElement)
						$entry.MappingDataElement.DeName
					#end
				</td>
				<td>
					$entry.MappingOrgUnit.OuName
				</td>
				<td>
					$entry.Period
				</td>
				<td>
					$entry.Reason
				</td>
			</tr>
			#end
	</table>
	#end
#end

<input type="button" name="backButton" id="backButton" value="BACK" onclick="window.location.href='index.action'" />
