<h1>
	Truncate tables
</h1>
Are you sure you want to truncate these tables from 

<form method="post" action="truncateConfirmed.action">
#if( $connections.size() > 1 )
<select id="connection" name="connection">
	#foreach( $connection in $connections.values() )
		<option value="$connection.Id">$connection.Name</option>
	#end
</select>
#else
${connections.keySet().iterator().next()}
#end
?
<ul>
	#foreach ( $table in $deleteTables )
		<li>
			$table
		</li>
	#end
</ul>
<ul>
	<li style="list-style-type: none">
		<input type="checkbox" id="districtsOnly" name="districtsOnly" />
		<label for="districtsOnly">Delete district data only</label>
	</li>
</ul>
	<input type="submit" name="confirm" value="Yes" />
	<input type="submit" name="abort" value="No" />
</form>