

## Macro for generating the jQuery validation rules 

#macro( validate $type $require )
  #if( $type == "NUMBER" || $type == "number" )
    {validate:{ number:true #if($require), required:true #end }}
  
	#elseif( $type == "int" )
  	{validate:{ integer:true #if($require), required:true #end }}
  	
  	#elseif( $type == "positiveNumber" )
  	{validate:{ positive_integer:true #if($require), required:true #end }}
  	
	#elseif( $type == "negativeNumber" )
  	{validate:{ negative_integer:true #if($require), required:true #end }}
  
  
	#elseif( $require )
    {validate:{required:true}}
  #end
#end

#set( $tabIndex = 1 )
#if ( $dataElements.size() > 0)

<table class="formSection" id="dataEntryTable" style="width:100%">
	<tr bgcolor="#CBDDEB">
		<th style="width:35%;">$i18n.getString( "dataelement" )</th>
		<th style="text-align: center;width:15%;">$i18n.getString( "qty_reported" )</th>
		<th style="text-align: center;width:15%;">$i18n.getString( "qty_validated" )</th>
		<th style="text-align: center;width:15%;">$i18n.getString( "tariff_amount" )</th>
		<th style="text-align: center;width:15%;">$i18n.getString( "total" )</th>
	</tr>
	<script>
		var allTotal = 0.0;
	</script>
	#set( $mark = false )
	#foreach($dataElement in $dataElements )
		#if( $mark1 )
           #set( $mark1 = false )
        #else
          #set( $mark1 = true )
        #end
		<tr #if( $mark1 ) bgcolor = "#FFFFFF" #else bgcolor="#E0ECF8" #end>
			<td><label>$dataElement.getFormNameFallback()</label></td>
			#set( $count = 0)
			#set( $pbfDataValue = $!pbfDataValueMap.get( $dataElement ) )
			<td>
				<input onblur="savePBFDataValue('$dataElement.id', 1 )" type="text" name="pbfdv_qty_reported_$dataElement.id" id="pbfdv_qty_reported_$dataElement.id" 
						value="$!pbfDataValue.quantityReported" tabindex="$tabIndex" style="text-align: center;" 
						#if($dataElement.type =='number') class="{validate:{number:true}}" 
						#elseif($dataElement.type =='int') class="{validate:{integer:true}}"
						#elseif($dataElement.type =='positiveNumber') class="{validate:{positive_integer:true}}"
						#elseif($dataElement.type =='negativeNumber') class="{validate:{negative_integer:true}}"
						#end  />
			</td>
			
			<td>
				<input onblur="savePBFDataValue('$dataElement.id', 2 )" onkeyup="calTariffVal('$dataElement.id')" type="text" name="pbfdv_qty_validated_$dataElement.id" id="pbfdv_qty_validated_$dataElement.id" 
						value="$!pbfDataValue.quantityValidated" tabindex="$tabIndex" style="text-align: center;" 
						#if($dataElement.type =='number') class="{validate:{number:true}}" 
						#elseif($dataElement.type =='int') class="{validate:{integer:true}}"
						#elseif($dataElement.type =='positiveNumber') class="{validate:{positive_integer:true}}"
						#elseif($dataElement.type =='negativeNumber') class="{validate:{negative_integer:true}}"
						#end class="quantity$count"  />
				</td>
				<script>
					function changeInt()
					{
						var tariff = 0.0;
					if('$!pbfDataValue.tariffAmount' != '' )
					{
						tariff = parseFloat($pbfDataValue.tariffAmount);
						$('#pbfdv_tariff_amt_'+$dataElement.id).val(tariff);
					}					
											
					}
					changeInt();
				</script>
			<td>
				<input type="text" name="pbfdv_tariff_amt_$dataElement.id" id="pbfdv_tariff_amt_$dataElement.id" 
						value="$!pbfDataValue.tariffAmount" tabindex="$tabIndex" style="text-align: center;" 
						#if($dataElement.type =='number') class="{validate:{number:true}}" 
						#elseif($dataElement.type =='int') class="{validate:{integer:true}}"
						#elseif($dataElement.type =='positiveNumber') class="{validate:{positive_integer:true}}"
						#elseif($dataElement.type =='negativeNumber') class="{validate:{negative_integer:true}}"
						#end class="tariff$count" readonly/>
			</td>
			<td >
				<input type="text" id="total_$dataElement.id" style="text-align: center;" readonly/>
            </td>
			<script >				
                function calVal( ) {
					var total = 0.0;
                 	var quantity = 0.0;
					var tariff = 0.0;
					if($('#pbfdv_tariff_amt_'+$dataElement.id).val() != '')
					{						
						tariff = parseFloat($('#pbfdv_tariff_amt_'+$dataElement.id).val());
					}
					else
					{
						tariff = 0;
					}
					
					if($('#pbfdv_qty_validated_'+$dataElement.id).val() != '')
					{
						quantity = parseFloat($('#pbfdv_qty_validated_'+$dataElement.id).val());

					}
					else
					{
						quantity = 0;
					}
					
					total = quantity * tariff;
					
					$('#total_'+$dataElement.id).val(total);
					
					allTotal = allTotal + total;
					
					$('#all-total').val(allTotal);
                }
                
                calVal();
                
                $('input').on('keyup', function() {
                  calVal();
                });
            </script>	
			
			#end			
			
			#set( $count = $count + 1)
		</tr>
		#set( $tabIndex = $tabIndex + 1 )
		#set( $mark = !$mark)	
	#end
		<tr>
			<td >&nbsp;</td>
			<td >&nbsp;</td>
			<td >&nbsp;</td>
			<td >&nbsp;</td>
			<td >
				<input type="text" id="all-total" style="text-align: center;" readonly/>
            </td>
		</tr>
		<script>
			function calTariffVal( dataElementId ) {
					var total = 0.0;
                 	var quantity = 0.0;
					var tariff = 0.0;
					if($('#pbfdv_tariff_amt_'+dataElementId).val() != '')
					{						
						tariff = parseFloat($('#pbfdv_tariff_amt_'+dataElementId).val());
					}
					else
					{
						tariff = 0;
					}
					
					if($('#pbfdv_qty_validated_'+dataElementId).val() != '')
					{
						quantity = parseFloat($('#pbfdv_qty_validated_'+dataElementId).val());

					}
					else
					{
						quantity = 0;
					}
					
					total = quantity * tariff;
					
					$('#total_'+dataElementId).val(total);
					
					allTotal = allTotal + total;
					
					$('#all-total').val(allTotal);
                }
		</script>
</table>
