{
"c":"${statusCode}",
"curValueDiv":"$!dataValue.value",
"curCommentDiv":"$!dataValue.comment",
"curStoredByDiv":"$!dataValue.storedBy",
"curTimeStampDiv":"$standardDateFormat.format($!dataValue.timestamp)"
}