<script>
    function formValidationsForMDReport()
    {
        var reportList = document.getElementById("reportList");
        var reportListIndex = reportList.selectedIndex;
        var ouIdTb = document.getElementById("ouIDTB");
        var orgunitIdValue = ouIdTb.value;
        
        if( orgunitIdValue == null || orgunitIdValue == "" || orgunitIdValue == " " ) 
        {
            alert("Please Select OrganisationUnit"); 
            return false;
        }       
        else if( reportListIndex < 0 || reportList.options[reportListIndex].text == null ) 
        {
            alert("Please Select Report"); 
            return false;
        }
        
        return true;
    }           
</script>
<h1>$i18n.getString( "md_report_ra" )</h1>
<hr /><br />
<form id="reportForm" name="reportForm" action="generateMDReport.action" method="post" onsubmit="return formValidationsForMDReport()" target="_blank">
    <table align="center" style=" border-collapse: collapse; margin-top: 0;" cellpadding="0" cellspacing="0" width="70%" border=0>
        <tr>
            <td class="NormalB">
                1.$i18n.getString( "organisationunit" ) :<br />
                <input type="text" name="ouNameTB" id="ouNameTB" style="width:200px" disabled>
            </td>
            <td class="NormalB">
                3.From Date : <br />
                <select id="selectedStartPeriodId" name="selectedStartPeriodId" style="width:200px">
                    #foreach ( $mperiod in $periods )
                        <option value="$mperiod.id">$simpleDateFormat.format( $mperiod.startDate )</option>
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select id="periodTypeId" name="periodTypeId" style="display:none">
                    <option value="$periodTypeName">$periodTypeName</option>
                </select>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td class="NormalB">
                2. $i18n.getString( "reports" ) :<br />
                <select id="reportList" name="reportList" style="width:200px"></select>
            </td>
            <td class="NormalB">
                4.To Date : <br />
                <select id="selectedEndPeriodId" name="selectedEndPeriodId" style="width:200px">
                    #foreach ( $mperiod in $periods )
                        <option value="$mperiod.id">$simpleDateFormat.format( $mperiod.startDate )</option>
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
        	<td class="NormalB">
                5.$i18n.getString( "generated_data_type" ) :<br />
                <select id="aggData" name="aggData" style="width:200px">
                    <option value="generateaggdata">$i18n.getString( "generate_agg_data" )</option>
                    <option value="useexistingaggdata">$i18n.getString( "use_existing_agg_data" )</option>
                    <option value="usecaptureddata" selected>$i18n.getString( "use_captured_data" )</option>
                </select>
            </td>
        </tr>
        </tr>
        <tr>
            <td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        <tr>   
            <td class="NormalB">
                <input type="submit" name="generate" value="$i18n.getString( "generate_report" )" />
                <input type="hidden" name="autogen" id="autogen" value="0" >
                <input type="hidden" name="ouIDTB" id="ouIDTB">
                <input type="hidden" name="ouLevelTB" id="ouLevelTB">
                <input type="hidden" name="reportTypeNameTB" id="reportTypeNameTB" value="$reportTypeName">
            </td>
        </tr>
    </table>  
 </form>