<h2>Report Analyser</h2>

#if( $auth.hasAccess( "dhis-web-reports", "reportManagement") )
<ul>
    <li>Report Management</li>
    <ul>
        <li><a href = "reportManagement.action">Report Management</a></li>
    </ul>
</ul>
#end
<ul>
    <li>Report Analysis</li>
    <ul>
        <li><a href = "upwardReportAnalyser.action">GOI Reports</a></li>
        <li><a href = "edReportForm.action">ED Report</a></li>
        <li><a href = "routineReportAnalyser.action">Routine Reports</a></li>
        <li><a href = "feedbackReportAnalyser.action">Feedback Reports</a></li>
        <li><a href = "aggregationReportAnalyser.action">Aggregation Reports</a></li>
        <li><a href = "linelistingReportAnalyser.action">Linelisting Reports</a></li>
        <li><a href = "periodWiseprogressReportAnalyser.action">Periodwise Progress Reports</a></li>
        <li><a href = "ouWiseProgressReportAnalyser.action">Orgunitwise Progress Reports</a></li>
        <li><a href = "metaDataReportAnalyser.action">Meta Data Reports</a></li>
        <li><a href = "benificiaryInfoReportsAnalyser.action">NBITS Benificiary Info</a></li>
        <li><a href = "activePlanReportsAnalyser.action">NBITS Reports</a></li>
        <li><a href = "portalReportsAnalyser.action">NBITS Portal Reports</a></li>
		<li><a href = "dataSetLockReportAnalyser.action">DataSet Lock Reports</a></li>
        <li><a href = "quarterlyPhysicalReport.action ">Quarterly Physical Output Reports</a></li>              
        <li><a href = "csReviewReportForm.action">CS Review Reports</a></li>  
        <!--<li><a href = "advancedReportAnalyser.action">Advanced Reports</a></li>-->
    </ul>
</ul>
