<h2>Report Analyser</h2>

#if( $auth.hasAccess( "dhis-web-reports", "reportManagement") )
	<ul>
		<li>Report Management</li>
		<ul>
			<li><a href = "reportManagement.action">Report Management</a></li>
		</ul>
	</ul>
#end

#if( $auth.hasAccess( "dhis-web-reports", "upwardReportAnalyser") )
	<ul>
		<li>Report Analysis</li>
		<ul>
			#if( $auth.hasAccess( "dhis-web-reports", "upwardReportAnalyser") )
				<li><a href = "upwardReportAnalyser.action">GOI Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "edReportForm") )
				<li><a href = "edReportForm.action">ED Report</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "routineReportAnalyser") )
				<li><a href = "routineReportAnalyser.action">Routine Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "feedbackReportAnalyser") )
				<li><a href = "feedbackReportAnalyser.action">Feedback Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "aggregationReportAnalyser") )
				<li><a href = "aggregationReportAnalyser.action">Aggregation Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "linelistingReportAnalyser") )
				<li><a href = "linelistingReportAnalyser.action">Linelisting Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "periodWiseprogressReportAnalyser") )
				<li><a href = "periodWiseprogressReportAnalyser.action">Periodwise Progress Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "ouWiseProgressReportAnalyser") )
				<li><a href = "ouWiseProgressReportAnalyser.action">Orgunitwise Progress Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "metaDataReportAnalyser") )
				<li><a href = "metaDataReportAnalyser.action">Meta Data Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "dataSetLockReportAnalyser") )
				<li><a href = "dataSetLockReportAnalyser.action">DataSet Lock Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "quarterlyPhysicalReport") )
				<li><a href = "quarterlyPhysicalReport.action ">Quarterly Physical Output Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "mobileReportAnalyser") )
				<li><a href = "mobileReportAnalyser.action">Mobile Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "csReviewReportForm") )
				<li><a href = "csReviewReportForm.action">CS Review Reports</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "populateUsers") )
				<li><a href = "populateUsers.action">Populate Users</a></li>
			#end
			<!--<li><a href = "advancedReportAnalyser.action">Advanced Reports</a></li>-->	
		</ul>
	</ul>
#end

#if( $auth.hasAccess( "dhis-web-reports", "benificiaryInfoReportsAnalyser") )
	<ul>
		<li>NameBased Reports</li>
		<ul>
			#if( $auth.hasAccess( "dhis-web-reports", "benificiaryInfoReportsAnalyser") )
				<li><a href = "benificiaryInfoReportsAnalyser.action">NBITS Benificiary Info</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "activePlanReportsAnalyser") )
				<li><a href = "activePlanReportsAnalyser.action">NBITS ActivityPlan</a></li>
			#end
			#if( $auth.hasAccess( "dhis-web-reports", "portalReportsAnalyser") )
				<li><a href = "portalReportsAnalyser.action">NBITS Portal Reports</a></li>
			#end
            #if( $auth.hasAccess( "dhis-web-reports", "nbitsReportsAnalyser") )
                <li><a href = "nbitsReportsAnalyser.action">NBITS Reports</a></li>
            #end
		</ul>
	</ul>
#end