<h2>Data Import</h2>
<ul>
    <li>Data Import</li>
    <ul>
        <li>
            <a href = "excelImportForm.action">Excel Import</a>
        </li>
    </ul>
</ul>
<br>
##parse( "/dhis-web-commons/ouwt/orgunittree.vm" )
#parse( "/dhis-web-commons/ouwt/orgunittreesearch.vm" )
<!-- The script that registeres selctions in the orgunit tree -->
<script type="text/javascript">

function orgUnitHasBeenSelected( orgUnitIds )
{    
    document.reportForm.ouIDTB.value = orgUnitIds;
    
    reportListFileName = document.reportForm.reportListFileNameTB.value;

    if(orgUnitIds != null && orgUnitIds != "" )
    {
        getReports(orgUnitIds, reportListFileName)      
    }
}

selection.setListenerFunction( orgUnitHasBeenSelected );

</script>
