<div  ng-if='!selectedProgramStage.programStageSections.length'>
    <table class="dhis2-list-table-striped">
        <thead>                        
            <tr>
                <th>
                    {{'data_element'| translate}}                    
                </th>
                <th>
                    {{'value'| translate}}                    
                </th>         
            </tr>                        
        </thead>
        <tbody>
            <tr ng-if="selectedProgramStage.preGenerateUID || editingEventInFull">
                <td>
                    {{'form_id' | translate}}
                </td>
                <td>
                    <input type="text" ng-disabled="true" ng-model="currentEvent['uid']" class="form-control">
                </td>
            </tr>
            <tr>
                <td>
                    {{selectedProgramStage.reportDateDescription ? selectedProgramStage.reportDateDescription : 'incident_date'| translate }}<span class="required">*</span>
                </td>
                <td>
                    <input type="text"                                                   
                           placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                           d2-date
                           max-date='0'
                           ng-model="currentEvent.eventDate"
                           ng-disabled="editingEventInFull"    
                           ng-required="true"                            
                           d2-date-validator
                           name="eventDate" 
                           input-field-id='eventDate' 
                           class="form-control">
                    <div ng-messages="outerForm.eventDate.$error" ng-if="interacted(outerForm.eventDate)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                                         
                    </div>
                </td>
            </tr>
            <tr ng-if="selectedProgramStage.captureCoordinates">
                <td>
                    {{'latitude'| translate}}<span class="pull-right"><a href ng-click="showMap(currentEvent)" title="{{'get_from_map'| translate}}"><i class="fa fa-map-marker fa-2x"></i></a></span>
                </td>
                <td>
                    <input type="number" 
                           ng-model="currentEvent.coordinate.latitude"                              
                           name="latitude"
                           d2-coordinate-validator
                           ng-required="false"
                           class="form-control"/>
                    <div ng-messages="outerForm.latitude.$error" ng-if="interacted(outerForm.latitude)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                        
                    </div>
                </td>                                            
            </tr>
            <tr ng-if="selectedProgramStage.captureCoordinates">
                <td>
                    {{'longitude'| translate}}<span class="pull-right"><a href ng-click="showMap(currentEvent)" title="{{'get_from_map'| translate}}"><i class="fa fa-map-marker fa-2x"></i></a></span>
                </td>
                <td>
                    <input type="number" 
                           ng-model="currentEvent.coordinate.longitude"                             
                           name="longitude" 
                           d2-coordinate-validator
                           ng-required="false"
                           class="form-control"/>
                    <div ng-messages="outerForm.longitude.$error" ng-if="interacted(outerForm.longitude)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">
                    </div>
                </td>                                                            
            </tr>            
            <tr ng-repeat="eventGridColumn in eventGridColumns" ng-if="eventGridColumn.id !== 'comment' && eventGridColumn.id !== 'uid' && eventGridColumn.id !== 'event_date' && !isHidden(eventGridColumn.id)">
                <td >
                    {{eventGridColumn.name}}<span ng-if="eventGridColumn.compulsory" class="required">*</span>
                </td>
                <td >
                    <ng-form name="innerForm">
                        <div ng-if="prStDes[eventGridColumn.id].dataElement.optionSetValue">
                            <div ng-if="!selectedProgram.dataEntryMethod || optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options.length >= 7">                                
                                <ui-select ng-model="currentEvent[eventGridColumn.id]" 
                                           theme="select2" 
                                           ng-required={{eventGridColumn.compulsory}}
                                           name="foo" 
                                           input-field-id={{eventGridColumn.id}} 
                                           on-select={{saveDatavalue()}} 
                                           class='form-control'>
                                    <ui-select-match allow-clear="true" class="form-control" placeholder="{{'select_or_search' | translate}}">{{$select.selected.name  || $select.selected}}</ui-select-match>
                                    <ui-select-choices  repeat="option.name as option in optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options | filter: $select.search | limitTo:30">
                                      <span ng-bind-html="option.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>                                    
                            <div ng-if="selectedProgram.dataEntryMethod && optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options.length < 7">                                    
                                <label>
                                    <input type="radio" 
                                           name="foo"  
                                           input-field-id={{eventGridColumn.id}}   
                                           ng-change="saveDatavalue()" 
                                           ng-required={{eventGridColumn.compulsory}}
                                           ng-model="currentEvent[eventGridColumn.id]"
                                           value=""> {{'no_value' | translate}}<br>
                                </label>                                    
                                <label ng-repeat="option in  optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options">
                                    <input type="radio" 
                                           name={{eventGridColumn.id}}   
                                           input-field-id={{eventGridColumn.id}}    
                                           ng-change="saveDatavalue()" 
                                           ng-required={{eventGridColumn.compulsory}}
                                           ng-model="currentEvent[eventGridColumn.id]"
                                           value={{option.name}}> {{option.name}}<br>                                        
                                </label>
                            </div>
                        </div>
                        <div ng-if="!prStDes[eventGridColumn.id].dataElement.optionSetValue" ng-switch="eventGridColumn.type">
                            <div ng-switch-when="int">
                                <input type="number"                                         
                                       d2-number-validator
                                       number-type={{prStDes[eventGridColumn.id].dataElement.numberType}}
                                       ng-model="currentEvent[eventGridColumn.id]"                                        
                                       ng-required={{eventGridColumn.compulsory}}
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       ng-blur="saveDatavalue()" 
                                       class="form-control"/>
                            </div>
                            <div ng-switch-when="string">     
                                <span ng-if="eventGridColumn.textType==='longText'">
                                    <textarea rows="3"
                                        ng-model="currentEvent[eventGridColumn.id]"                                        
                                        ng-required={{eventGridColumn.compulsory}}
                                        name="foo" 
                                        input-field-id={{eventGridColumn.id}} 
                                        ng-blur="saveDatavalue()" 
                                        class="form-control">
                                    </textarea>
                                </span>
                                <span ng-if="eventGridColumn.textType!=='longText'">
                                    <input type="text"                                             
                                        ng-model="currentEvent[eventGridColumn.id]"                                        
                                        ng-required={{eventGridColumn.compulsory}}
                                        name="foo" 
                                        input-field-id={{eventGridColumn.id}} 
                                        ng-blur="saveDatavalue()" 
                                        class="form-control"/>                  
                                </span>                                              
                            </div>
                            <div ng-switch-when="bool">
                                <select ng-model="currentEvent[eventGridColumn.id]"                                                                
                                        ng-required={{eventGridColumn.compulsory}}
                                        name="foo" 
                                        input-field-id={{eventGridColumn.id}} 
                                        ng-change="saveDatavalue()" 
                                        class="form-control">
                                <option value="">{{pleaseSelectLabel}}</option>                        
                                <option value="false">{{'no'| translate}}</option>
                                <option value="true">{{'yes'| translate}}</option>
                                </select>
                            </div>
                            <div ng-switch-when="date">
                                <input type="text"                                                                
                                       placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                       d2-date
                                       max-date="prStDes[eventGridColumn.id].allowFutureDate ? '' : 0"                                        
                                       d2-date-validator
                                       ng-model="currentEvent[eventGridColumn.id]"                                                               
                                       ng-required={{eventGridColumn.compulsory}}
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       blur-or-change="saveDatavalue()" 
                                       class="form-control">
                            </div>
                            <div ng-switch-when="datetime">
                                <input type="text"
                                       placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                       d2-date
                                       max-date="prStDes[eventGridColumn.id].allowFutureDate ? '' : 0"
                                       ng-model="currentEvent[eventGridColumn.id]"
                                       ng-required={{eventGridColumn.compulsory}}
                                       name="foo"
                                       input-field-id={{eventGridColumn.id}}
                                       style="width:99%;"/>
                            </div>
                            <div ng-switch-when="trueOnly">
                                <input type="checkbox"                                         
                                       ng-model="currentEvent[eventGridColumn.id]"                                                               
                                       ng-required={{eventGridColumn.compulsory}}
                                       name="foo" 
                                       input-field-id={{eventGridColumn.id}} 
                                       ng-change="saveDatavalue()" />
                            </div>
                            <div ng-switch-default>
                                <input type="text"                                             
                                    ng-model="currentEvent[eventGridColumn.id]"                                        
                                    ng-required={{eventGridColumn.compulsory}}
                                    name="foo" 
                                    input-field-id={{eventGridColumn.id}} 
                                    ng-blur="saveDatavalue()" 
                                    class="form-control"> 
                            </div>
                        </div>                        
                        <div ng-messages="innerForm.foo.$error" ng-if="interacted(innerForm.foo)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                                         
                        </div>
                    </ng-form>                    
                </td>
            </tr>        
        </tbody>
    </table>    
</div>


<div ng-if='selectedProgramStage.programStageSections.length'>
    <table class="dhis2-list-table-striped">        
        <tbody>
            <tr ng-if="selectedProgramStage.preGenerateUID && currentEvent['uid']">
                <td>
                    {{'form_id' | translate}}
                </td>
                <td>
                    <input type="text" ng-disabled="true" ng-model="currentEvent['uid']" class="form-control">
                </td>
            </tr>
            <tr>
                <td>
                    {{selectedProgramStage.reportDateDescription ? selectedProgramStage.reportDateDescription : 'incident_date'| translate }}<span class="required">*</span>
                </td>
                <td>
                    <input type="text"                                                   
                           placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                           d2-date
                           max-date='0'
                           ng-model="currentEvent.eventDate"
                           ng-disabled="editingEventInFull"    
                           ng-required="true"                            
                           d2-date-validator
                           name="eventDate" 
                           input-field-id='eventDate' 
                           class="form-control">
                    <div ng-messages="outerForm.eventDate.$error" ng-if="interacted(outerForm.eventDate)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                                         
                    </div>
                </td>
            </tr>
            <tr ng-if="selectedProgramStage.captureCoordinates">
                <td>
                    {{'latitude'| translate}}<span class="pull-right"><a href ng-click="showMap(currentEvent)" title="{{'get_from_map'| translate}}"><i class="fa fa-map-marker fa-2x"></i></a></span>
                </td>
                <td>
                    <input type="number" 
                           ng-model="currentEvent.coordinate.latitude"                             
                           name="latitude"
                           d2-coordinate-validator
                           ng-required="false"
                           class="form-control"/>
                    <div ng-messages="outerForm.latitude.$error" ng-if="interacted(outerForm.latitude)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                        
                    </div>
                </td>                                            
            </tr>
            <tr ng-if="selectedProgramStage.captureCoordinates">
                <td>
                    {{'longitude'| translate}}<span class="pull-right"><a href ng-click="showMap(currentEvent)" title="{{'get_from_map'| translate}}"><i class="fa fa-map-marker fa-2x"></i></a></span>
                </td>
                <td>
                    <input type="number" 
                           ng-model="currentEvent.coordinate.longitude"                              
                           name="longitude" 
                           d2-coordinate-validator
                           ng-required="false"
                           class="form-control"/>
                    <div ng-messages="outerForm.longitude.$error" ng-if="interacted(outerForm.longitude)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">
                    </div>
                </td>                                            
            </tr>        
        </tbody>
    </table>    

    <div ng-repeat='section in selectedProgramStage.programStageSections' ng-if="section.id === selectedSection.id || selectedSection.id === 'ALL'">
        <div class="vertical-spacing section-label">
           {{section.name}}
        </div>
        
        <table class="dhis2-list-table-striped">                    
            <thead>                        
                <tr>
                    <th>
                        {{'data_element'| translate}}                    
                    </th>
                    <th>
                        {{'value'| translate}}                    
                    </th>         
                </tr>                        
            </thead>
            <tbody>       
                <tr ng-repeat="de in section.programStageDataElements" ng-if="!isHidden(de.dataElement.id)">
                    <td >
                        {{prStDes[de.dataElement.id].dataElement.formName ? prStDes[de.dataElement.id].dataElement.formName : prStDes[de.dataElement.id].dataElement.name}}<span ng-if="prStDes[de.dataElement.id].compulsory" class="required">*</span>                        </td>
                    <td >
                        <ng-form name="innerForm">
                            <div ng-if="prStDes[de.dataElement.id].dataElement.optionSetValue">
                                <span ng-if="!selectedProgram.dataEntryMethod || optionSets[prStDes[de.dataElement.id].dataElement.optionSet.id].options.length > 8">
                                    <ui-select ng-model="currentEvent[de.dataElement.id]" 
                                               theme="select2" 
                                               ng-required={{prStDes[de.dataElement.id].compulsory}}
                                               name="foo" 
                                               input-field-id={{de.dataElement.id}} 
                                               on-select={{saveDatavalue()}} 
                                               class='form-control'>
                                        <ui-select-match allow-clear="true" class="form-control" placeholder="{{'select_or_search' | translate}}">{{$select.selected.name || $select.selected}}</ui-select-match>
                                        <ui-select-choices  repeat="option.name as option in optionSets[prStDes[de.dataElement.id].dataElement.optionSet.id].options | filter: $select.search | limitTo:30">
                                          <span ng-bind-html="option.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </span>
                                <span ng-if="selectedProgram.dataEntryMethod && prStDes[de.dataElement.id].dataElement.optionSet.options.length < 7">                                    
                                    <label>
                                        <input type="radio" 
                                               name="foo"  
                                               input-field-id={{de.dataElement.id}} 
                                               ng-change="saveDatavalue()" 
                                               ng-required={{prStDes[de.dataElement.id].compulsory}}
                                               ng-model="currentEvent[de.dataElement.id]"
                                               value="">{{'no_value' | translate}}<br>
                                    </label>                                    
                                    <label ng-repeat="option in optionSets[prStDes[de.dataElement.id].dataElement.optionSet.id].options">
                                        <input type="radio" 
                                               name={{de.dataElement.id}}   
                                               input-field-id={{de.dataElement.id}} 
                                               ng-change="saveDatavalue()" 
                                               ng-required={{prStDes[de.dataElement.id].compulsory}}
                                               ng-model="currentEvent[de.dataElement.id]"
                                               value={{option.name}}> {{option.name}}<br>                                        
                                    </label>
                                </span>
                            </div>
                            <div ng-if="!prStDes[de.dataElement.id].dataElement.optionSetValue" ng-switch="prStDes[de.dataElement.id].dataElement.type">
                                <div ng-switch-when="int">
                                    <input type="number"                                                
                                           d2-number-validator 
                                           number-type={{prStDes[de.dataElement.id].dataElement.numberType}}
                                           ng-model="currentEvent[de.dataElement.id]"                                                
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           name="foo" 
                                           input-field-id={{de.dataElement.id}} 
                                           ng-blur="saveDatavalue()" 
                                           class="form-control"/>
                                </div>
                                <div ng-switch-when="string">
                                    <span ng-if="prStDes[de.dataElement.id].dataElement.textType==='longText'">
                                        <textarea rows="3"
                                            ng-model="currentEvent[de.dataElement.id]"                                       
                                            ng-required={{prStDes[de.dataElement.id].compulsory}}
                                            name="foo" 
                                            input-field-id={{de.dataElement.id}} 
                                            ng-blur="saveDatavalue()" 
                                            class="form-control">
                                        </textarea>
                                    </span>
                                    <span ng-if="prStDes[de.dataElement.id].dataElement.textType!=='longText'">
                                        <input type="text"                                             
                                            ng-model="currentEvent[de.dataElement.id]"                                   
                                            ng-required={{prStDes[de.dataElement.id].compulsory}}
                                            name="foo" 
                                            input-field-id={{de.dataElement.id}} 
                                            ng-blur="saveDatavalue()" 
                                            class="form-control">                  
                                    </span>
                                </div>
                                <div ng-switch-when="bool">
                                    <select ng-model="currentEvent[de.dataElement.id]"                                                 
                                            ng-required={{prStDes[de.dataElement.id].compulsory}}
                                            name="foo" 
                                            input-field-id={{de.dataElement.id}} 
                                            ng-change="saveDatavalue()" 
                                            class="form-control">
                                    <option value="">{{pleaseSelectLabel}}</option>                        
                                    <option value="false">{{'no'| translate}}</option>
                                    <option value="true">{{'yes'| translate}}</option>
                                    </select>
                                </div>
                                <div ng-switch-when="date">
                                    <input type="text"                                                                
                                           placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                           d2-date
                                           max-date="prStDes[de.dataElement.id].allowFutureDate ? '' : 0"                                                  
                                           d2-date-validator
                                           ng-model="currentEvent[de.dataElement.id]"                                                               
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           name="foo" 
                                           input-field-id={{de.dataElement.id}} 
                                           blur-or-change="saveDatavalue()" 
                                           class="form-control"/>
                                </div>
                                <div ng-switch-when="datetime">
                                    <input type="text"
                                           placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                           d2-date
                                           max-date="prStDes[de.dataElement.id].allowFutureDate ? '' : 0"
                                           d2-date-validator
                                           ng-model="currentEvent[de.dataElement.id]"
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           name="foo"
                                           input-field-id={{de.dataElement.id}}
                                           blur-or-change="saveDatavalue()"
                                           class="form-control"/>
                                </div>
                                <div ng-switch-when="trueOnly">
                                    <input type="checkbox"                                                  
                                           ng-model="currentEvent[de.dataElement.id]"                                                               
                                           ng-required={{prStDes[de.dataElement.id].compulsory}}
                                           name="foo" 
                                           input-field-id={{de.dataElement.id}}
                                           ng-change="saveDatavalue()" />
                                </div>
                                <div ng-switch-default>
                                    <input type="text"                                                  
                                        ng-model="currentEvent[de.dataElement.id]"                                                 
                                        ng-required={{prStDes[de.dataElement.id].compulsory}}
                                        name="foo" 
                                        input-field-id={{de.dataElement.id}} 
                                        ng-blur="saveDatavalue()" 
                                        class="form-control"/>
                                </div>
                            </div>
                            <div ng-messages="innerForm.foo.$error" ng-if="interacted(innerForm.foo)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">                                         
                            </div>
                        </ng-form>                            
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 

</div>