<div ng-message="required">{{'required' | translate}}</div>
<div ng-message="number">{{'value_must_be_number' | translate}}</div>
<div ng-message="posInt">{{'value_must_be_posInt' | translate}}</div>
<div ng-message="negInt">{{'value_must_be_negInt' | translate}}</div>
<div ng-message="zeroPositiveInt">{{'value_must_be_zeroPositiveInt' | translate}}</div>
<div ng-message="integer">{{'value_must_be_int' | translate}}</div>
<div ng-message="dateValidator">{{'date_required' | translate}} ({{dhis2CalendarFormat.keyDateFormat}})</div>
<div ng-message="futureDateValidator">{{'future_date_not_allowed' | translate}}</div>
<div ng-message="optionValidator">{{'option_required' | translate}}</div>
<div ng-message="latitudeValidator">{{'latitude_required' | translate}}</div>
<div ng-message="longitudeValidator">{{'longitude_required' | translate}}</div>
