#set($recordNo = $maxRecordNo + 1)

<script>
	var nextRecordNo = $recordNo;
	var nextFlag = 0;
	
	function addLLIDSPLNewRow()
	{
		if(nextFlag == 0)
		{
		   nextFlag = 1;
		}
		else
		{
		    return;
		}
		
		nextRecordNo++;
			
		var tbl = document.getElementById("tblGrid");
		var lastRow = tbl.rows.length;
		var newRow = tbl.insertRow(lastRow);		
            
    	var oCell = newRow.insertCell(0);
    	oCell.innerHTML = "<input name='entryfield' id='value[1053].value:value["+nextRecordNo+"].value' type='text' value=' ' onchange='saveLLbirthValue(1053,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' onblur='addLLIDSPLNewRow()' style='width:100% text-align:center'>";
    
    	oCell = newRow.insertCell(1);
    	oCell.innerHTML = "<input name='entryfield' id='value[1055].value:value["+nextRecordNo+"].value' type='text' value=' ' onchange='saveLLbirthValue(1055,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' style='width:100% text-align:center'>";
    
    	oCell = newRow.insertCell(2);
    	oCell.innerHTML = "<select name='entryfield' id='value[1054].value:value["+nextRecordNo+"].value' onchange='saveLLbirthValue(1054,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' style='width:100% text-align:center'><option value='NONE' selected>---</option><option value='M'>Male</option><option value='F'>Female</option></select>";    	

    	oCell = newRow.insertCell(3);
    	oCell.innerHTML = "<input name='entryfield' id='value[1056].value:value["+nextRecordNo+"].value' type='text' value=' ' onchange='saveLLbirthValue(1056,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' style='width:100% text-align:center'>";
    		    	        	
    	oCell = newRow.insertCell(4);
    	oCell.innerHTML = "<input name='entryfield' id='value[1057].value:value["+nextRecordNo+"].value' type='text' value=' ' onchange='saveLLbirthValue(1057,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' style='width:100% text-align:center'>";

    	oCell = newRow.insertCell(5);
    	oCell.innerHTML = "<input name='entryfield' id='value[1058].value:value["+nextRecordNo+"].value' type='text' value=' ' onchange='saveLLbirthValue(1058,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' style='width:100% text-align:center'>";

	}
</script>



<div align="center"><h3><u>Line listing IDSP Lab Positive Test Cases</u></h3></div>


<table id="tblGrid" width="100%">
	<tr>
		<th width="20%">Name of Patient</th>
		<th width="10%">Age</th>
		<th width="10%">Sex</th>
		<th width="20%">Address</th>
		<th width="20%">Name of Test done</th>
		<th width="20%">Lab Diagnosis</th>
	<tr>

#set($calInfo = "")
#set( $mapKeys = $recordNos )
#foreach( $mapKey in $mapKeys)
	<tr>
	#set($llDataValues = $lldataValueMap.get($mapKey))
	#set($count1 = 1)
	
	#foreach( $llDataValue in $llDataValues)
		#if($count1 == 3)
			<td>
				<select name="entryfield" id="value[$llDataValue.getDataElement().getId()].value:value[$llDataValue.getRecordNo()].value" onchange="saveLLbirthValue($llDataValue.getDataElement().getId(),$llDataValue.getRecordNo())" onkeypress="return keyPress(event, this)" style="width:100% text-align:center">
					<option value="NONE" #if(!$llDataValue.getValue() || $llDataValue.getValue()=="NONE") selected #end>---</option>
					<option value="M" #if($llDataValue.getValue() && $llDataValue.getValue()=="M") selected #end>Male</option>
					<option value="F" #if($llDataValue.getValue() && $llDataValue.getValue()=="F") selected #end>Female</option>
				</select>
			</td>			
		#else
			<td><input name="entryfield" id="value[$llDataValue.getDataElement().getId()].value:value[$llDataValue.getRecordNo()].value" type="text" value="#if($llDataValue.getValue()) $llDataValue.getValue() #end" onchange="saveLLbirthValue($llDataValue.getDataElement().getId(),$llDataValue.getRecordNo())" onkeypress="return keyPress(event, this)" style="width:100% text-align:center"></td>		
		#end
		#set($count1 = $count1+1)
	#end
	</tr>	
#end
<tr>
	<td><input name="entryfield" id="value[1053].value:value[$recordNo].value" type="text" value=" " onchange="saveLLbirthValue(1053,$recordNo )" onkeypress="return keyPress(event, this)" onblur="addLLIDSPLNewRow()" style="width:100% text-align:center"></td>
	<td><input name="entryfield" id="value[1055].value:value[$recordNo].value" type="text" value=" " onchange="saveLLbirthValue(1055,$recordNo )" onkeypress="return keyPress(event, this)" style="width:100% text-align:center"></td>
	<td>
		<select name="entryfield" id="value[1054].value:value[$recordNo].value" onchange="saveLLbirthValue(1054,$recordNo)" onkeypress="return keyPress(event, this)" style="width:100% text-align:center">
			<option value="NONE" selected>---</option>
			<option value="M">Male</option>
			<option value="F">Female</option>
		</select>		
	</td>	
	<td><input name="entryfield" id="value[1056].value:value[$recordNo].value" type="text" value=" " onchange="saveLLbirthValue(1056,$recordNo )" onkeypress="return keyPress(event, this)" style="width:100% text-align:center"></td>
	<td><input name="entryfield" id="value[1057].value:value[$recordNo].value" type="text" value=" " onchange="saveLLbirthValue(1057,$recordNo )" onkeypress="return keyPress(event, this)" style="width:100% text-align:center"></td>
	<td><input name="entryfield" id="value[1058].value:value[$recordNo].value" type="text" value=" " onchange="saveLLbirthValue(1058,$recordNo )" onkeypress="return keyPress(event, this)" style="width:100% text-align:center"></td>
</tr>		
</table>
