<script>
    $(".select-dropdown-button").on('click', function (e) {
        $("#selectDropDown").width($("#selectDropDownParent").width());
        e.stopPropagation();
        $("#selectDropDown").dropdown('toggle');
    });
    $(".select-dropdown-caret").on('click', function (e) {
        $("#selectDropDown").width($("#selectDropDownParent").width());
        e.stopPropagation();
        $("#selectDropDown").dropdown('toggle');
    });
    $(".search-dropdown-button").on('click', function () {
        $("#searchDropDown").width($("#searchDropDownParent").width());
    });
    $('#searchDropDown').on('click', "[data-stop-propagation]", function (e) {
        e.stopPropagation();
    });

    //stop date picker's event bubling
    $(document).on('click.dropdown touchstart.dropdown.data-api', '#ui-datepicker-div', function (e) {
        e.stopPropagation();
    });

    $(window).resize(function () {
        $("#selectDropDown").width($("#selectDropDownParent").width());
        $("#searchDropDown").width($("#searchDropDownParent").width());
    });
</script>

<div id="leftBar">

    <div class="left-bar-menu" ng-controller="LeftBarMenuController">
        <ul class="nav nav-pills nav-stacked">
            <li><a href ng-click="showHome()">{{'registration_and_data_entry'| translate}}</a></li>
            <li><a href ng-click="showReportTypes()">{{'reports'| translate}}</a></li>
        </ul>
    </div>    

    <d2-ou-search></d2-ou-search>

    <div id="orgUnitTree">
        <ul>
        </ul>
    </div>
    <img id="ouwt_loader" src="../images/ajax-loader-bar.gif" alt="{{'loading_tree'| translate}}"/>
    <div class="small-horizonal-spacing" ng-if='!treeLoaded'>
        {{'loading_tree'| translate}}
    </div> 
</div>

<div class="page" id="mainPage">

    <div ng-if="!selectedOrgUnit">
        <img src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}" ng-if="!selectedOrgUnit"/><br>
        {{'loading_metadata'| translate}}
    </div> 

    <div ng-show="selectedOrgUnit">

        <!-- top bar begins -->
        <div class="row top-bar">        
            <div class="col-sm-12">            
                <span ng-if='!showRegistrationDiv'>
                    {{selectedProgram.trackedEntity.name}} {{'search'| translate}}                    
                    <span class="btn-group horizonal-spacing" ng-show="selectedProgram">
                        <label class="btn btn-default" ng-model="enrollmentStatus" btn-radio="'ALL'" title="{{'all_enrollment'| translate}}" ng-click='filterByEnrollmentStatus("ALL")'><i class="fa fa-list mouse-pointer"></i></label>
                        <label class="btn btn-default" ng-model="enrollmentStatus" btn-radio="'ACTIVE'" title="{{'active_enrollment'| translate}}" ng-click='filterByEnrollmentStatus("ACTIVE")'><i class="fa fa-circle-o mouse-pointer"></i></label>
                        <label class="btn btn-default" ng-model="enrollmentStatus" btn-radio="'COMPLETED'" title="{{'completed_enrollment'| translate}}" ng-click='filterByEnrollmentStatus("COMPLETED")'><i class="fa fa-check mouse-pointer"></i></label>
                        <label class="btn btn-default" ng-model="enrollmentStatus" btn-radio="'CANCELLED'" title="{{'cancelled_enrollment'| translate}}" ng-click='filterByEnrollmentStatus("CANCELLED")'><i class="fa fa-times mouse-pointer"></i></label>
                    </span>
                    <span class="small-horizonal-spacing" ng-if="pager.total">
                        ({{'total'| translate}}:  {{pager.total}})
                    </span>
                </span>
                <span ng-if='showRegistrationDiv'>
                    {{selectedProgram.trackedEntity.name}} {{'register'| translate}}
                </span>
                <div class="pull-right hideInPrint">
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="trackedEntityList.rows.length <= 0">
                            <i class="fa fa-cog" title="{{'settings'| translate}}"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li ng-show="trackedEntityList.rows.length > 0"><a href ng-click="showHideColumns()">{{'show_hide_columns'| translate}}</a></li>
                        </ul>
                    </div>
                </div>            
            </div>        
        </div>
        <!-- top bar ends -->

        <!--- selected org unit begins -->
        <input type="text" selected-org-unit ng-model="selectedOrgUnit.name" ng-hide=true>
        <!--- selected org unit ends  -->

        <!--- search and registration menu begins -->
        <div class="row vertical-spacing not-for-screen">
            <div class="col-md-4">
                <h4>{{'org_unit'| translate}}</h4>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled='true' value="{{selectedOrgUnit.name}}">
            </div>
        </div>
        <div class="row">

            <!-- program selection begins -->
            <div id="selectDropDownParent" class="input-group col-md-4">            
                <button type="button" class="select-dropdown-button form-control" ng-show="programs.length > 0">{{selectedProgram ? selectedProgram.name : 'please_select_a_program'| translate}}</button>
                <button type="button" class="select-dropdown-button form-control" ng-show="programs.length < 1" ng-disabled="true">{{programs.length > 0 ? 'please_select_a_program' : 'no_program_exists'| translate}}</button>
                <div class="input-group-btn program-drop-down">
                    <button class="btn btn-default select-dropdown-caret" type="button" title="{{'list_programs'| translate}}" data-toggle="dropdown" ng-disabled="programs.length < 1"><i class="fa fa-caret-down"></i></button>
                    <ul id="selectDropDown" class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href ng-click="getProgramAttributes(null)">{{'please_select_a_program'| translate}}</a>
                        </li>
                        <li ng-repeat="program in programs| orderBy: 'name'">
                            <a href ng-click="getProgramAttributes(program)">{{program.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- program selection ends -->

            <!-- simple/advanced search begins -->
            <div id="searchDropDownParent" class="input-group col-md-4 hideInPrint">
                <input type="text" placeholder="{{'type_your_search_criteria_here'| translate}}" ng-model="searchText" class="form-control expanded" d2-enter="search(searchMode.freeText)" ng-class="{true: 'invalid - input'} [!searchText && emptySearchText]" ng-focus="showHideSearch()" ng-disabled="showRegistrationDiv">
                <div class="input-group-btn">
                    <button class="btn btn-default search-dropdown-button trim" type="button" title="{{'advanced_search'| translate}}" data-toggle="dropdown" ng-click="showHideSearch()" ng-disabled="showRegistrationDiv"><i class="fa fa-caret-down"></i></button>
                    <button class="btn btn-primary trim" type="button" title="{{'search'| translate}}" ng-disabled="showRegistrationDiv" ng-click="search(searchMode.freeText)"><i class="fa fa-search"></i></button>
                    <div id="searchDropDown" class="dropdown-menu dropdown-menu-right">
                        <form name="searchForm">
                            <div ng-include="'views/advanced-search.html'"></div>
                        </form>
                    </div>
                </div>                
            </div>
            <!-- simple/advanced search ends -->

            <!--search/registration buttons begin-->
            <div class="col-md-4 trim hideInPrint">            
                <button type="button" 
                        class="btn btn-success"
                        ng-disabled="showRegistrationDiv"
                        ng-click="search(searchMode.listAll)">
                    {{'list_all'| translate}}
                </button>
                <button type="button" 
                        class="btn btn-primary"
                        ng-disabled="!selectedProgram.allowRegistration"
                        ng-click="showRegistration()">                    
                    {{'register'| translate}}
                </button>
                <button type="button" 
                        class="btn btn-info"
                        ng-if="teiCount > 0"
                        onclick="javascript:window.print()">                    
                    {{'print'| translate}}
                </button>
            </div>
            <!--search/registration buttons end-->

        </div>
        <!--- search and registration menu ends -->

        <!--- Error display for search begins -->
        <div class="row" ng-if="emptySearchAttribute || !searchText && emptySearchText">
            <div class="col-md-8 vertical-spacing">
                <div class="alert alert-warning">{{'search_input_required'| translate}}</div>         
            </div>
        </div>
        <!--- Error display for search ends -->

        <!--registration form begins -->
        <div class="row" ng-if="showRegistrationDiv">
            <div class="col-md-8">
                <div ng-include="'components/registration/registration.html'"></div>             
            </div>
        </div>
        <!-- registration form ends -->        

        <!-- entity grid begins -->
        <img src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}" ng-if="!teiFetched && searchText && !emptySearchTex"/>
        <div class="row" ng-if="showTrackedEntityDiv">
            <div class="col-md-12" ng-include="'views/tei.html'"></div>  
        </div>
        <!-- entity grid ends -->
    </div>

</div>           


