#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )

<!-- The script that registeres selctions in the orgunit tree -->
<script type="text/javascript">

function orgUnitHasBeenSelected( orgUnitIds )
{
    window.location.href = "index.action" ;
}

selection.setListenerFunction( orgUnitHasBeenSelected );

</script>