.Heading {
    font-family: times,arial, georgia, tahoma;
    font-size: 35px;
    font-weight: bold;    
    white-space: nowrap;
    cursor: default;    
}

.Normal {
    font-family: arial, georgia, tahoma;
    font-size: 10px;    
    white-space: nowrap;
    cursor: default; 
    text-align: center;       
}

.NormalB {
    font-family: arial, georgia, tahoma;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    cursor: default;    
}

.TableDataCellStyles {
    font-family: arial, georgia, tahoma;
    font-size: 10px;    
    white-space: nowrap;
    cursor: default; 
    text-align: center;
    border:1px dotted #C0C0C0;
}

.TableHeadingCellStyles {
    font-family: arial, georgia, tahoma;
    font-size: 11px;   
    white-space: nowrap;
    cursor: default;     
}

.DefaultFontStyles {
    font-family: arial, georgia, tahoma;
    font-size: 13px;
    font-weight: bold;   
    white-space: nowrap;
    cursor: default;         
}

.DefaultFontStylesNoBold {
    font-family: arial, georgia, tahoma;
    font-size: 13px;    
    white-space: nowrap;
    cursor: default;         
}



.pragmatic {
	color: #000000;
	font-weight: 700;
	font-size: 28px;
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	padding-top: 0px;
	margin-left: 20px;
}

.header {	
	padding: 10px 10px 10px 10px;	
}

.pragmatic a {
	color:#000000;
	text-decoration: none;
}

.objects {
	color: Maroon;
	font-weight: 700;
	font-size: 28px;
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	padding-top: 0px;
}

.objects a {	
	color: Maroon;
	text-decoration: none;	
}

.slogan {
	  color: Gray;
	  font-weight: 700;
	  font-size: 16px;
	  font-family: Georgia, Tahoma, Verdana, Arial, sans-serif;
	  text-align: left;
	  margin-left: 20px;
}


#navcontainer ul
{
padding-left: 0;
padding-top: 0;
margin-left: 0;
margin-top: 0;
background-color: #F0F0F0;
color: White;
float: right;
width: 100%;
font-size: 13px;
font-family: Georgia, Tahoma, Verdana, Arial, sans-serif;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
padding: 0.2em 1em;
background-color: #808080;
color: White;
text-decoration: none;
float: right;
border-right: 1px solid #fff;
}

#navcontainer ul li a:hover
{
background-color: silver;
color: #000;
}
