<h2>DashBoard</h2>
	<ul>
		<li>Data Analysis</li>
		<ul>
		 	<li>Null Reporter</li>
		 </ul>
	</ul>
<div style=" float:right; font-size:6pt; cursor:pointer; margin-top:-20px; ">
        <a href="index.action">
          <img src="images/goback.png" width="36" height="30" alt="$i18n.getString( "go_back" )"></a>
</div>
#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )

<!-- The script that registeres selctions in the orgunit tree -->
<script type="text/javascript">

function orgUnitHasBeenSelected( orgUnitIds )
{    
	if(orgUnitIds == null || orgUnitIds == "" )
	{
		return;
	}

    if(orgUnitIds != null)
	{
		getOUDetailsForNR(orgUnitIds);
	}        
}
selection.setListenerFunction( orgUnitHasBeenSelected );

</script>