
<html>
	<head>
    	<title>Null Reporter Result</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet" media="screen" href="css/StylesForTags.css" >
        </link>
        <script>
        	function exportNullReporterResultToWorkBook()
			{			    
				document.getElementById('htmlCode').value = document.getElementById('formResult').innerHTML;
			
				return true;				
			}
        </script>
   	</head>
	<body>

		<form id="form1" name="form1" action="exportNullReporterToExcel.action" method="post" onsubmit="return exportNullReporterResultToWorkBook()" target="_newtab">
				
			<input type="hidden" name="htmlCode" id="htmlCode" />
			<div align="right" class="NormalB">
				<input type="submit" name="ExportToWorkBook" value="Export To WorkBook" style="width: 160; height: 25; font-family:Arial; font-weight:bold; color:#000000">
			</div>
			
			<div id="formResult" >
			#set( $ouList = $nullReportResult.keySet() )
			
                            <table border="1" cellpadding="5" cellspacing="0">
                                    <tr></tr>
                                    <tr align="center" bgcolor="#808080">
                                        #if( $size == 0)
                                            <th><font color="#ffffff">There is no null value.</font></th>
                                        #else
                                            <th>&nbsp;</th>
                                        #end
                                       #foreach( $period in $periods )
                                       <th ><font color="#ffffff">
                                           #if( $simpleDateFormat.format($period.startDate) == $simpleDateFormat.format($period.endDate) )
                                              $simpleDateFormat.format($period.startDate)
                                           #else
                                               $simpleDateFormat.format($period.startDate) to $simpleDateFormat.format($period.endDate)
                                           #end
                                           </font>
                                      </th>
                                      #end
                                    </tr>
                                #foreach( $orgunit in $ouHavingNullValues )
                                    <tr>
                                        <td bgcolor="#D8D8D8" cellspacing="1"> <font size="2">$!orgunit.name</font></td>
                                        
                                            #set( $periodDeListMap = $nullReportResult.get( $orgunit ) )
                                            #set( $periodlist = $periodDeListMap.keySet() )
                                            #foreach( $period in $periods )
                                                <td valign="top">

                                                <table width="100%">
                                                  
                                                  #foreach( $de in $periodDeListMap.get( $period ) )                                                  
                                                    <tr>
                                                        <td><font size="2">$!de.name</font></td>
                                                    </tr>
                                                  #end
                                                </table>
                                                        
                                                </td>
                                            #end
                                    </tr>
                               #end
                            </table>
			</div>	
		</form>
    </body>
</html>
