
#if( $catalogList.size() > 0 )
<table class="mainPageTable">
<!--
<tr>
	<td>&nbsp;&nbsp;</td>
	#foreach( $catalogTypeAttribute in $catalogTypeAttributeList )
		<td>&nbsp;&nbsp;</td>
	#end
	<td align="right"><input type="button" value='$i18n.getString( "Add new item" )' onclick="showAddCatalogForm();" style="width:100px"/></td>
</tr>
-->
<tr>
<td>	
<table class="listTable" id="catalogList">	
	<tr bgcolor="#285C91">
		<td><font color="#FFFFFF"><strong>#</strong></font></td>
		#if( $catalogType.getName().equalsIgnoreCase("Vaccines"))
			<td><font color="#FFFFFF"><strong>$i18n.getString( "name" )</strong></font></td>
		#end
		<!--<td><font color="#FFFFFF"><strong>$i18n.getString( "name" )</strong></font></td>-->
		#foreach( $catalogTypeAttribute in $catalogTypeAttributeList )
			<td><font color="#FFFFFF"><strong>$catalogTypeAttribute.name</strong></font></td>
		#end	
		<td style="text-align:center" class="{sorter: false}">&nbsp;&nbsp;</td>	
	</tr>
	<tbody id="list"> 
		#set( $mark = false )
		#foreach( $catalog in $catalogList )
			<tr id="tr${catalog.id}" #alternate($mark) >
		 		<td>
		 			 #set( $nr = ( ( $paging.getCurrentPage() - 1  ) * $paging.pageSize ) + $velocityCount )
		 			 $nr
		 		</td>
				#if( $catalogType.getName().equalsIgnoreCase("Vaccines"))
					<td>$!catalog.name</td>
				#end		 		
		 		
		 		 <!--<td>$!catalog.name</td>-->
		 		 #foreach( $catalogTypeAttribute in $catalogTypeAttributeList )
		 		 	#set( $mapId = $catalog.id + ':' + $catalogTypeAttribute.id )
		 		 	<td>$!catalogDataValueMap.get( $mapId )</td>
 		 		#end
 		 		<td><a href="javascript:showCatalogDetails( '$catalog.id','$catalog.getName()','$catalogType.getName()'); " title='$i18n.getString( "catalog_details" )'>Details</a></td>
	 		</tr>
	 	#set( $mark = !$mark)
 		#end
	</tbody>
</table>
</td>
</tr>
</table>
#end
<p></p>
	#parse( "/dhis-web-commons/paging/paging.vm" )		
	
<script type="text/javascript">
    jQuery(document).ready(function(){  
        tableSorter( 'catalogList' );
    });
</script>	
	

