<script type="text/javascript">
    jQuery(document).ready(function(){  
        tableSorter( 'equipmentList' );
    });
    
</script>
##if( $equipmentInstanceList.size() > 0 )
<table class="mainPageTable">
<table class="listTable" id="equipmentList">
	
		<tr bgcolor="#285C91">
			<td><font color="#FFFFFF"><strong>#</strong></font></td>
			<td><font color="#FFFFFF"><strong>$i18n.getString( "orgunit_hierarchy" )</strong></font></td>
			<td><font color="#FFFFFF"><strong>$i18n.getString( "health_facility_name" )</strong></font></td>
			#if( $!inventoryType.getCatalogType() )
				<td><font color="#FFFFFF"><strong>$i18n.getString( "catalog_name" )</strong></font></td>
	 		#end
		 	#foreach( $inventoryTypeAttribute in $inventoryTypeAttributeList )
		 		<td><font color="#FFFFFF"><strong>$inventoryTypeAttribute.inventoryTypeAttribute.name</strong></font></td>
			#end
	 		<td class="{sorter: false}">&nbsp;&nbsp;</td>
	 		<td class="{sorter: false}">&nbsp;&nbsp;</td>
		</tr>
	
	#if( $equipmentInstanceList.size() > 0 )
	<tbody id="list">
		#set( $mark = false )
		#foreach( $equipmentInstance in $equipmentInstanceList )
			<tr id="tr${equipmentInstance.id}" #alternate($mark)>
				##set( $nr = ( ( $paging.getCurrentPage() - 1  ) * $paging.pageSize ) + $velocityCount )
				<td>
                    #set( $nr = ( ( $paging.getCurrentPage() - 1  ) * $paging.pageSize ) + $velocityCount )
                    $nr
                </td>
			 	<td>$!equipmentOrgUnitHierarchyMap.get( $equipmentInstance.getOrganisationUnit().getId() )</td>
			 	<td>$encoder.htmlEncode( $equipmentInstance.getOrganisationUnit().getName() )</td>
			 	#if( $!inventoryType.getCatalogType() )
			 		<td>$!equipmentInstance.catalog.name</td>
	 			#end
			 	#foreach( $inventoryTypeAttribute in $inventoryTypeAttributeList )
			 		#set( $mapId = $equipmentInstance.id + ':' + $inventoryTypeAttribute.inventoryTypeAttribute.id )
			 			#if( $inventoryType.tracking && $inventoryTypeAttribute.inventoryTypeAttribute.getDescription().equalsIgnoreCase("WORKING_STATUS"))
			 				<td><a href="javascript:showEquipmentStatusHistoryForm( '$equipmentInstance.id','$equipmentInstance.getOrganisationUnit().getName()','$!equipmentInstance.catalog.name' ); " title='$i18n.getString( "equipment_tracking_history" )'>$!equipmentDetailsMap.get( $mapId )<a></td>
			 			#else
			 			<td>$!equipmentDetailsMap.get( $mapId )</td>
		 				#end
		 		#end	
		 		#if( $inventoryType.getDataSets().size() > 0 )
		 			<td><a href="javascript:showEquipmentDataEntryForm( '$equipmentInstance.id','$equipmentInstance.getOrganisationUnit().getName()','$!equipmentInstance.catalog.name' ); " title='$i18n.getString( "equipment_dataentry" )'>Dataentry<a></td>
		 		#end
			 	<!--<td>Dataentry</td>-->
			 	<td><a href="javascript:showEquipmentDetails( '$equipmentInstance.id','$equipmentInstance.getOrganisationUnit().getName()','$!equipmentInstance.catalog.name', '$equipmentInstance.getInventoryType().getName()' ); " title='$i18n.getString( "equipment_details" )'>Details</a></td>
			 	<!--<td>Details</td>-->
			</tr>
			#set( $mark = !$mark)
		#end
	</tbody>
	#end
</table>
</table>	
<p></p>
	#parse( "/dhis-web-commons/paging/paging.vm" )	
	