<div id='selectDiv'>
    
<h3><strong>$i18n.getString( "equipment_catalogs" )</strong></h3>

<table width="100%">
	<tr>
		<td>
			<table>
				<tr>
					<td>
						<select id="catalogType" onchange="getCatalogTypeChange()">
						#foreach( $catalogType in $catalogTypes )
							<option value="$catalogType.id">$catalogType.name</option>
						#end
						</select>
					</td>
					<td id='filterCatalogDiv'><a href="javascript:hideCatalogFilter()" >Filter</a></td>
					<td id='searchingCatalogAttributeTD' style='display:none'>
						<select id="searchingCatalogAttributeId" name="searchingCatalogAttributeId" #if( $catalogTypeAttributes.size() == 0 ) disabled="disabled" #end onchange="searchingCatalogAttributeOnChange( this.value )">
						</select>	
					</td>
					<td id='searchingCatalogTextTD' style='display:none'>
						<input type="text" id="searchCatalogText" name="searchCatalogText" maxlength="30" style="width:12.5em" value="$!searchCatalogText" onkeypress="isCatalogEnter( event )">
					</td>
					<td id='searchCatalogDiv' style='display:none'><a href="javascript:loadCatalogsByFilter()" title="$i18n.getString( 'go' )"><img src="images/go.jpg" alt="$i18n.getString( 'go' )"></a></td>
					<td id='clearCatalogDiv' style='display:none'><a href="javascript:hideCatalogClear()">Clear</a></td>	
				</tr>
			</table>
			
		</td>

		<td>&nbsp;&nbsp;</td>
		<td>&nbsp;&nbsp;</td>
		<td>&nbsp;&nbsp;</td>
		<td>&nbsp;&nbsp;</td>
		<td align="right"><input type="button" value='$i18n.getString( "Add new item" )' onclick="showAddCatalogForm();" style="width:100px"/></td>
	</tr>
</table>

</div>



<div id='listCatalogDiv'></div> <!-- List All/Filtered Catalogs -->
<div id='addEditCatalogFormDiv'></div> <!-- Add Catalog Form -->
<div id='catalogDetailsDiv'></div> <!-- Add Catalog Form -->
<div id='uploadCatalogImageDiv'></div> <!-- Upload catalog Image -->

#parse( "/dhis-web-commons/loader/loader.vm" )

<script type="text/javascript">
jQuery( document ).ready( function()
{
	getCatalogTypeChange();
	
	loadAllCatalogs();
});
</script>
<script>
	var i18n_confirm_delete_catalog = '$encoder.jsEscape( $i18n.getString( "confirm_delete_catalog" ) , "'" )';
</script>
